[Unit]
Description=AMQProxy server for connection and channel pooling
Documentation=https://github.com/cloudamqp/amqproxy
Requires=network.target
After=network.target

[Service]
ExecStart=/usr/bin/amqproxy --config /etc/amqproxy.ini
Restart=on-failure
DynamicUser=yes
LimitNOFILE=infinity
Environment="GC_UNMAP_THRESHOLD=1"

[Install]
WantedBy=multi-user.target
