name: CI
on:
  pull_request:
    branches:
      - main
  push:
    paths:
      - 'run-specs-in-docker.sh'
      - '.github/workflows/ci.yml'
      - 'shard.yml'
      - 'shard.lock'
      - 'src/**'
      - 'spec/**'
      - 'test/**'

jobs:
  spec:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Run tests
        run: ./run-specs-in-docker.sh

  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    container: 84codes/crystal:latest-ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - run: shards install
      - run: bin/ameba

  format:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    container: 84codes/crystal:latest-ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - run: crystal tool format --check

  integration:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: PHP client integration test using Docker Compose
        run: ./test/integration-php.sh
